<div class="product-container" *ngIf="product">
  <div class="product-image">
    <!-- Imagem Principal -->
    <img
      [src]="selectedImage + '_300x300q75.jpg_.avif'"
      [srcset]="
        selectedImage +
        '_300x300q75.jpg_.avif 300w, ' +
        selectedImage +
        '_600x600q75.jpg_.avif 600w, ' +
        selectedImage +
        '_960x960q75.jpg_.avif 960w'
      "
      sizes="(max-width: 600px) 300px, (max-width: 960px) 600px, 960px"
      class="d-block w-100 main-image"
      alt="Main Product Image"
      loading="lazy"
    />

    <!-- Lista de Miniaturas -->
    <div
      *ngIf="product.images && product.images.length > 0; else noImagesTemplate"
      class="thumbnail-container"
    >
      <img
        *ngFor="let image of product.images"
        [src]="image + '_300x300q75.jpg_.avif'"
        [srcset]="
          image +
          '_300x300q75.jpg_.avif 300w, ' +
          image +
          '_600x600q75.jpg_.avif 600w, ' +
          image +
          '_960x960q75.jpg_.avif 960w'
        "
        sizes="(max-width: 600px) 300px, (max-width: 960px) 600px, 960px"
        class="thumbnail"
        [class.active]="image === selectedImage"
        (click)="selectImage(image)"
        [alt]="'Imagem do produto LOK'"
        loading="lazy"
      />
    </div>
  </div>

  <ng-template #noImagesTemplate>
    <div class="thumbnail-container">
      <img
        [src]="selectedImage"
        class="thumbnail active"
        alt="Thumbnail of product image"
      />
    </div>
  </ng-template>

  <div class="product-info">
    <div class="info-container">
      <h1>{{ product.name }}</h1>
      <p>{{ formatPrice(product.price) }}</p>
      <p class="info">
        Confeccionada em Suedine branco 100% algodão de alta gramatura (240GSM),
        a t-shirt LOK apresenta a exclusiva modelagem CIENA, proporcionando
        caimento premium e conforto incomparável. A peça conta com estampa em
        silk localizada tanto na parte frontal quanto traseira, entregando
        estilo com identidade marcante.

        <br /><br />
        Atenção: por se tratar de algodão, considere um encolhimento natural de
        até 5% após as primeiras lavagens. Consulte a tabela de medidas para
        garantir o melhor ajuste.
      </p>

      <!-- Selector de Tamanhos -->
      <div class="size-selector-container">
        <label for="form-select size-label">Size:</label>
        <select
          class="form-select size-droplist"
          aria-label="Default select example"
          [(ngModel)]="selectedSize"
          (change)="onChange($event)"
        >
          <option [value]="null" disabled>Selecione um tamanho</option>
          <option *ngFor="let size of availableSizes" value="{{ size }}">
            {{ size }}
          </option>
        </select>
      </div>

      <!-- Botão de Compra -->
      <div class="buy-container">
        <div class="counter-container">
          <div class="decrease quantity" (click)="decrementQuantity()">-</div>
          <span>{{ quantity }}</span>
          <div class="increase quantity" (click)="incrementQuantity()">+</div>
        </div>

        <button
          type="button"
          class="btn-comprar"
          (click)="addToCart(selectedSize)"
          [disabled]="!selectedSize"
        >
          Comprar
        </button>
      </div>

      <!-- Tabela de Tamanhos -->
      <div class="size-image-container">
        <img
          class="size-image"
          src="https://cdn.vnda.com.br/cienalab/2024/04/09/11_4_4_477_Camisetaciena.png?v=1723499211"
          alt="Tabela de tamanhos"
        />
      </div>
    </div>
  </div>
</div>
