<div class="main-content-container">
  <app-content-item></app-content-item>
  <app-content-item></app-content-item>
  <app-content-item></app-content-item>
  <app-content-item></app-content-item>
  <app-content-item></app-content-item>
  <app-content-item></app-content-item>
  <app-content-item></app-content-item>
  <app-content-item></app-content-item>
  <app-content-item></app-content-item>
  <app-content-item></app-content-item>
  <app-content-item></app-content-item>
  <app-content-item></app-content-item>
</div>
