<!-- Cart Component -->
<div class="cart-overlay" (click)="close()">
  <div class="cart-container" (click)="$event.stopPropagation()">
    <div class="cart-header">
      <h1 class="cart-text">Carrinho de compras</h1>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        height="24px"
        viewBox="0 -960 960 960"
        width="24px"
        fill="#000000"
        (click)="close()"
      >
        <path
          d="m291-240-51-51 189-189-189-189 51-51 189 189 189-189 51 51-189 189 189 189-51 51-189-189-189 189Z"
        />
      </svg>
    </div>
    <div class="cart-main" *ngIf="cartProducts.length > 0; else emptyCart">
      <div class="cart-item" *ngFor="let product of cartProducts">
        <img
          class="cart-item__image"
          [src]="product.images[0]"
          [alt]="product.name"
        />

        <div class="cart-item__details">
          <div class="order-info">
            <h4 class="cart-item__name">{{ product.name }}</h4>
            <p class="price">{{ formatPrice(product.price) }}</p>
          </div>

          <div class="order-info">
            <p class="cart-item__price">
              Tamanho:
              {{ product.selectedSize }}
            </p>
          </div>
          <div class="order-info">
            <div class="counter-container">
              <div
                class="decrease quantity"
                (click)="decrementQuantity(product)"
              >
                -
              </div>
              <span>{{ product.quantity }}</span>
              <div
                class="increase quantity"
                (click)="incrementQuantity(product)"
              >
                +
              </div>
            </div>
            <svg
              class="remove-item-icon"
              xmlns="http://www.w3.org/2000/svg"
              height="24px"
              viewBox="0 -960 960 960"
              width="24px"
              fill="#000000"
              (click)="removeItem(product)"
            >
              <path
                d="M280-120q-33 0-56.5-23.5T200-200v-520h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23.5 56.5T680-120H280Zm400-600H280v520h400v-520ZM360-280h80v-360h-80v360Zm160 0h80v-360h-80v360ZM280-720v520-520Z"
              />
            </svg>
          </div>
        </div>

        <!-- Remove item from cart -->
      </div>
    </div>
    <div class="cart-footer" *ngIf="cartProducts.length > 0">
      <h2>Total: {{ formatPrice(calculateTotalPrice()) }}</h2>
      <button class="checkout-btn">Finalizar Compra</button>
    </div>
  </div>
</div>

<ng-template #emptyCart>
  <div class="cart-main">
    <p class="empty-cart">Seu carrinho está vazio.</p>
  </div>
</ng-template>
