<div class="main-content-container">
  <!-- Passar como parâmetro as informações do produto -->
  <app-content-item></app-content-item>
  <app-content-item></app-content-item>
  <app-content-item></app-content-item>
  <app-content-item></app-content-item>
  <app-content-item></app-content-item>
  <app-content-item></app-content-item>
  <app-content-item></app-content-item>
  <app-content-item></app-content-item>
  <app-content-item></app-content-item>
  <app-content-item></app-content-item>
  <app-content-item></app-content-item>
  <app-content-item></app-content-item>
</div>
