<div class="main-content-container">
  <div class="product-box" *ngFor="let product of products">
    <div class="product-image-container">
      <a [routerLink]="['/', formatName(product.name), product._id]">
        <img class="product-image" src="{{ product.image }}" alt="" />
      </a>
    </div>
    <div class="product-info">
      <a
        [routerLink]="['/', formatName(product.name), product._id]"
        class="product-name"
        >{{ product.name }}</a
      >
      <a
        [routerLink]="['/', formatName(product.name), product._id]"
        class="product-price"
        >{{ formatPrice(product.price) }}</a
      >
    </div>
  </div>
</div>
