<div
  class="main-content-container"
  *ngIf="products.length > 0; else noProducts"
>
  <div class="product-box" *ngFor="let product of products">
    <div class="product-image-container">
      <a [routerLink]="['/', formatName(product.name), product._id]">
        <img
          class="product-image"
          [src]="currentImage[product._id] || product.images[0]"
          alt=""
          (mouseover)="updateCurrentImage(product._id, product.images[1])"
          (mouseout)="updateCurrentImage(product._id, product.images[0])"
        />
      </a>
    </div>
    <div class="product-info">
      <a
        [routerLink]="['/', formatName(product.name), product._id]"
        class="product-name"
        >{{ product.name }}</a
      >
      <a
        [routerLink]="['/', formatName(product.name), product._id]"
        class="product-price"
        >{{ formatPrice(product.price) }}</a
      >
    </div>
  </div>
</div>
<ng-template #noProducts>
  <p>Não encontramos nenhum produto</p>
</ng-template>
