<div class="content-itens" *ngIf="isLoading; else productContent">
  <ng-template [ngTemplateOutlet]="loading"></ng-template>
</div>

<ng-template #productContent
  ><div class="content-itens" *ngIf="products$ | async as products">
    <div class="main-content-container">
      <div class="product-box" *ngFor="let product of products">
        <div class="product-image-container">
          <a [routerLink]="['/', formatName(product.name), product.id]">
            <!-- prettier-ignore -->
            <img
            class="product-image skeleton"
            [src]="(currentImage[product.id] ? currentImage[product.id] : product.images[0] + '_300x300q75.jpg_.avif')"
            [srcset]="
              (currentImage[product.id] ? currentImage[product.id] + '_300x300q75.jpg_.avif' : product.images[0] + '_300x300q75.jpg_.avif') + ' 300w, ' +
              (currentImage[product.id] ? currentImage[product.id] + '_600x600q75.jpg_.avif' : product.images[0] + '_600x600q75.jpg_.avif') + ' 600w, ' +
              (currentImage[product.id] ? currentImage[product.id] + '_960x960q75.jpg_.avif' : product.images[0] + '_960x960q75.jpg_.avif') + ' 960w'
            "
            sizes="(max-width: 600px) 300px, (max-width: 960px) 600px, 960px"
            alt="Imagem do produto"
            (mouseover)="updateCurrentImage(product.id, product.images[1])"
            (mouseout)="updateCurrentImage(product.id, product.images[0])"
          />
          </a>
        </div>
        <div class="product-info">
          <a
            [routerLink]="['/', formatName(product.name), product.id]"
            class="product-name"
            >{{ product.name }}</a
          >
          <a
            [routerLink]="['/', formatName(product.name), product.id]"
            class="product-price"
            >{{ formatPrice(product.price) }}</a
          >
        </div>
      </div>
    </div>
    <div
      class="pagination-container"
      *ngIf="products.length > 0 && totalItems > limit"
    >
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item" (click)="changePage(page - 1)">
            <a class="page-link">Previous</a>
          </li>
          <li
            class="page-item"
            *ngFor="let pageItem of pages"
            (click)="changePage(pageItem)"
          >
            <a class="page-link" [class.active-page]="pageItem == page">{{
              pageItem
            }}</a>
          </li>
          <li class="page-item" (click)="changePage(page + 1)">
            <a class="page-link">Next</a>
          </li>
        </ul>
      </nav>
    </div>
  </div></ng-template
>

<ng-template #loading>
  <div class="main-content-container">
    <div class="product-box" *ngFor="let item of skeletonArray">
      <div class="product-image-container">
        <div class="skeleton shimmer skeleton-img"></div>
      </div>
      <div class="product-info">
        <div class="skeleton shimmer skeleton-text"></div>
        <div class="skeleton shimmer skeleton-price"></div>
      </div>
    </div>
  </div>
</ng-template>
