<div class="content-itens" *ngIf="products$ | async as products">
  <div class="main-content-container">
    <div class="product-box" *ngFor="let product of products">
      <div class="product-image-container">
        <a [routerLink]="['/', formatName(product.name), product.id]">
          <img
            class="product-image skeleton"
            [src]="currentImage[product.id] || product.images[0]"
            alt=""
            (mouseover)="updateCurrentImage(product.id, product.images[1])"
            (mouseout)="updateCurrentImage(product.id, product.images[0])"
          />
        </a>
      </div>
      <div class="product-info">
        <a
          [routerLink]="['/', formatName(product.name), product.id]"
          class="product-name"
          >{{ product.name }}</a
        >
        <a
          [routerLink]="['/', formatName(product.name), product.id]"
          class="product-price"
          >{{ formatPrice(product.price) }}</a
        >
      </div>
    </div>
  </div>
  <div class="pagination-container">
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item" (click)="changePage(page - 1)">
          <a class="page-link">Previous</a>
        </li>
        <li
          class="page-item"
          *ngFor="let page of getPages()"
          (click)="changePage(page)"
        >
          <a class="page-link">{{ page }}</a>
        </li>
        <li class="page-item" (click)="changePage(page + 1)">
          <a class="page-link">Next</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
