<header class="header">
  <div class="logo-container">
    <img
      src="https://api.logo.com/api/v2/images?design=lg_pqcO2BDQJIR2rZOJrC&format=webp&width=2000&background=transparent&fit=contain&quality=100&u=bf2fedbdc3efe2ba97e0871bc992f7c32315e853e9ef57f6226083288e11185f"
      alt="Logo"
    />
  </div>
  <div class="navigation-itens-container">
    <ul>
      <li class="navigation-item">
        <a href="">HOME</a>
      </li>
      <li class="navigation-item">
        <a href="">LOOKBOOK</a>
      </li>
      <li class="navigation-item">
        <a href="">CONTATO</a>
      </li>
    </ul>
  </div>
  <div class="resources-container">test</div>
</header>
