:root {
  --primary: rgba(255, 255, 255);
  --secondary: #f5ebe0;
  --auxiliary: #d6ccc2;
}

body {
  font-family: "Noto Sans", sans-serif;
  background: var(--primary);
}

* {
  box-sizing: border-box;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

p {
  font-size: 1rem;
}
