.product-container {
  display: grid;
  grid-template-columns: 6fr 6fr;
  width: 90%;
  margin: 0 auto;
  margin-top: 8px;
}

.product-image {
  max-width: 600px;
  max-height: 600px;
  margin-left: 25%;
}

h1 {
  font-size: 48px;
  font-weight: 700;
}

p {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 1.6rem;
}

.size-selector-container {
  display: flex;
  align-items: center;
  margin-bottom: 1.6rem;
}

.size-droplist {
  width: 100%;
  border-radius: 0;
  margin-left: 2%;
  border-color: #cccccc;
}

.info {
  font-size: 14px;
  color: gray;
  font-weight: 500;
  margin-bottom: 1.6rem;
}

.size-image-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.size-image {
  width: 100%;
  object-fit: cover;
}

.info-container {
  width: 45%;
  margin: 0 auto;
}

label {
  font-size: 18px;
}

@media (max-width: 1028px) {
  .product-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .info-container {
    padding: 0;
  }

  .size-selector-container {
    display: flex;
    justify-content: center;
  }

  .size-droplist {
    width: 100%;
    margin-top: 16px;
  }

  .product-info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .product-image {
    display: flex;
    justify-content: center;
    width: 70%;
    margin:0;
  }

  .thumbnail-container{
    margin-left: 8px;
  }
}

/* Estilo base para o botão */
.btn-comprar {
  width: 100%;
  margin-bottom: 26px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border: 1px solid transparent;
  cursor: pointer;
  position: relative;
  background-color: black;
  color: white;
  overflow: hidden; /* Impede que o efeito de animação ultrapasse os limites do botão */
  z-index: 1; /* Garantir que o botão fique acima da animação */
  transition: color 0.4s, background-color 0.4s, border 0.4s;
}

/* Efeito de animação da linha da esquerda para a direita */
.btn-comprar::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: white;
  transition: left 0.4s ease-in-out;
  z-index: -1; /* Garantir que a animação fique abaixo do conteúdo do botão */
}

/* Efeito de Hover - Troca de cores, borda e animação */
.btn-comprar:hover {
  color: black;
  background-color: white;
  border: 1px solid black; /* Borda preta ao passar o mouse */
}

.btn-comprar:hover::before {
  left: 0;
}

.carousel-indicators button {
  background: #cccccc;
  border: 1px solid #cccccc;
}


.product-image {
  position: relative;
  text-align: center;
}

.main-image {
  object-fit: cover;
  margin-bottom: 8px;
}

.thumbnail-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

.thumbnail {
  width: 120px;
  height: 120px;
  object-fit: cover;
  cursor: pointer;
  border: 2px solid transparent;
  transition: border 0.3s ease;
}

.thumbnail.active {
  border-color: #333;
}

.thumbnail:hover {
  border-color: #666;
}
