<div class="product-container">
  <div class="product-image">
    <div id="carouselExampleIndicators" class="carousel slide">
      <div class="carousel-indicators">
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="0"
          class="active"
          aria-current="true"
          aria-label="Slide 1"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="1"
          aria-label="Slide 2"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="2"
          aria-label="Slide 3"
        ></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="/product-image.png" class="d-block w-100" alt="" />
        </div>
        <div class="carousel-item">
          <img
            src="/product-image.png"
            class="d-block w-100"
            alt="/product-image.png"
          />
        </div>
        <div class="carousel-item">
          <img
            src="/product-image.png"
            class="d-block w-100"
            alt="/product-image.png"
          />
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          height="24px"
          viewBox="0 -960 960 960"
          width="24px"
          fill="#333333"
        >
          <path d="M400-80 0-480l400-400 71 71-329 329 329 329-71 71Z" />
        </svg>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          height="24px"
          viewBox="0 -960 960 960"
          width="24px"
          fill="#333333"
        >
          <path d="m321-80-71-71 329-329-329-329 71-71 400 400L321-80Z" />
        </svg>
      </button>
    </div>
  </div>
  <div class="product-info">
    <div class="info-container">
      <h1>Atomic Tee</h1>
      <p>R$219,00</p>
      <p class="info">
        Confeccionada em Suedine Branco 100% algodão 240GSM (alta gramatura) na
        modelagem CIENA, nossa t-shirt conta com estampa frontal e traseira em
        Silk. <br /><br />Considere um encolhimento natural de 5%, consulte a
        tabela de medidas.
      </p>
      <div class="size-selector-container">
        <label for="form-select size-label">Size:</label>
        <select
          class="form-select size-droplist"
          aria-label="Default select example"
        >
          <option selected>Selecione um tamanho</option>
          <option value="1">P</option>
          <option value="2">M</option>
          <option value="3">G</option>
          <option value="3">GG</option>
        </select>
      </div>
      <div class="buy-container">
        <button type="button" class="btn-comprar">Comprar</button>
      </div>
      <div class="size-image-container">
        <img
          class="size-image"
          src="https://cdn.vnda.com.br/cienalab/2024/04/09/11_4_4_477_Camisetaciena.png?v=1723499211"
          alt=""
        />
      </div>
    </div>
  </div>
</div>
