<div class="product-container" *ngIf="product">
  <div class="product-image">
    <!-- Imagem Principal -->
    <img
      [src]="selectedImage"
      class="d-block w-100 main-image"
      alt="Main Product Image"
    />

    <!-- Lista de Miniaturas -->
    <div
      *ngIf="product.images && product.images.length > 0; else noImagesTemplate"
      class="thumbnail-container"
    >
      <img
        *ngFor="let image of product.images"
        [src]="image"
        class="thumbnail"
        [class.active]="image === selectedImage"
        (click)="selectImage(image)"
        [alt]="'Thumbnail of product image ' + image"
      />
    </div>
  </div>

  <ng-template #noImagesTemplate>
    <div class="thumbnail-container">
      <img
        [src]="selectedImage"
        class="thumbnail active"
        alt="Thumbnail of product image"
      />
    </div>
  </ng-template>

  <div class="product-info">
    <div class="info-container">
      <h1>{{ product.name }}</h1>
      <p>{{ formatPrice(product.price) }}</p>
      <p class="info">
        Confeccionada em Suedine Branco 100% algodão 240GSM (alta gramatura) na
        modelagem CIENA, nossa t-shirt conta com estampa frontal e traseira em
        Silk. <br /><br />Considere um encolhimento natural de 5%, consulte a
        tabela de medidas.
      </p>

      <!-- Selector de Tamanhos -->
      <div class="size-selector-container">
        <label for="form-select size-label">Size:</label>
        <select
          class="form-select size-droplist"
          aria-label="Default select example"
        >
          <option selected>Selecione um tamanho</option>
          <option value="1">P</option>
          <option value="2">M</option>
          <option value="3">G</option>
          <option value="4">GG</option>
        </select>
      </div>

      <!-- Botão de Compra -->
      <div class="buy-container">
        <button type="button" class="btn-comprar">Comprar</button>
      </div>

      <!-- Tabela de Tamanhos -->
      <div class="size-image-container">
        <img
          class="size-image"
          src="https://cdn.vnda.com.br/cienalab/2024/04/09/11_4_4_477_Camisetaciena.png?v=1723499211"
          alt="Tabela de tamanhos"
        />
      </div>
    </div>
  </div>
</div>
