:root {
  --primary: rgba(255, 255, 255);
  --secondary: #f5ebe0;
  --auxiliary: #d6ccc2;
}

html {
  font-family: sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background: var(--primary);
}

* {
  box-sizing: border-box;
}
