<div class="content-container">
  <div class="login-container">
    <h1>Iniciar Sessão</h1>

    <form class="login-form" action="">
      <label class="email-label" for="">E-mail</label>
      <input class="email" name="email" id="email" />

      <label class="password-label" for="">Senha</label>
      <input class="password" type="text" name="password" id="password" />
    </form>

    <button class="recuperar-senha">Esqueci minha senha</button>

    <button type="button" class="btn-entrar">Entrar</button>
    <button type="button" class="btn-cadastrar">Criar Conta</button>
  </div>
</div>
